[submodule "vlm_reward/utils/SemanticGuidedHumanMatting"]
	path = vlm_reward/utils/SemanticGuidedHumanMatting
	url = https://github.com/cxgincsu/SemanticGuidedHumanMatting.git
[submodule "envs/Metaworld"]
	path = envs/Metaworld
	url = https://github.com/Farama-Foundation/Metaworld.git
